card {
  width: 120px;
  height: 180px;
  border: solid 1px #DDD;
  border-radius: 10px;
  background: white;
  display:none;
}
card > face {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
card > face#back div.shading{
  margin: 10px;
  width: 98px;
  height: 158px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkgIP//xkYGBkZEQIQFiMDA0QGJoGhAgCu3gQFSmE10wAAAABJRU5ErkJggg==) repeat;
  border: 1px solid #00F;
  border-radius: 3px;
}
card > face#front {
  text-align: left;
}
card > face#front .index {
  border: none;
  height: 176px;
  display: inline-block;
  width: 25px;
  padding: 2px;
  background: none;
}
card > face#front .index p {
  display: block;
  clear: both;
  text-align: center;
  font: 20px Georgia, serif;
  font-weight: bold;
}
card > face#front .big {
  border: none;
  padding-top:40px;
  height: 130px;
  background: none;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
}
card > face#front .big p {
  display:block;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font: 50px/50px Georgia, serif;
}

.Hand {
  width: 478px;
  height: 270px;
  position: absolute;
}
.Hand > card{
  float: left;
  border-radius: 10px;
  margin-right: 10px;
  width: 120px;
  height: 180px;
  position: absolute;
}

.red{
    color: #ff0000;
}
.black{
    color: #000000;
}
.kitty{
  display: none;
}

#myHand{
  bottom: 0px;
  left: 50%;
  margin-left: -239px;
  margin-bottom: -50px;
}
#partnerHand .upright{}
#partnerHand{
  top: 0px;
  left: 50%;
  margin-left: -239px;
  margin-top: -110px;
  transform: rotateZ( 180deg );
}
#partnerHand .upright{
  transform: rotateZ( -180deg );
}
#nextHand{
  top: 150px;
  left: -250px;
  transform: rotateZ( 90deg );
}
#nextHand .upright{
  transform: rotateZ( -90deg );
}
#previousHand{
  top: 150px;
  right: -250px;
  transform: rotateZ( -90deg );
}
#previousHand .upright{
  transform: rotateZ( 90deg );
}

#myHand > card > face#back{
  display:none;
}
#myHand > card:hover {
  background-color: #dde;
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,63,0.4);
  box-shadow: 1px 1px 7px rgba(0,0,63,0.4);
}

#table_cards{
  height: 200px;
  width: 200px;
}
#partnerTableCard{
  top: -90px;
  left: -10px;
  position: absolute;
  -webkit-transform: rotateZ( 175deg );
   -moz-transform: rotateZ( 175deg );
     -o-transform: rotateZ( 175deg );
        transform: rotateZ( 175deg );
}
#previousTableCard{
  top: 68px;
  left: -65px;
  position: absolute;
  -webkit-transform: rotateZ( 94deg );
   -moz-transform: rotateZ( 94deg );
     -o-transform: rotateZ( 94deg );
        transform: rotateZ( 94deg );
}
#nextTableCard{
  top: -30px;
  left: 156px;
  position: absolute;
  -webkit-transform: rotateZ( -86deg );
   -moz-transform: rotateZ( -86deg );
     -o-transform: rotateZ( -86deg );
        transform: rotateZ( -86deg );
}
#myTableCard{
  top: 120px;
  left: 95px;
  position: absolute;
  -webkit-transform: rotateZ( 3deg );
   -moz-transform: rotateZ( 3deg );
     -o-transform: rotateZ( 3deg );
        transform: rotateZ( 3deg );
}
#tableKitty{
  left: 20px;
  top: 10px;
  width: 160px;
  height: 180px;
  position: absolute;
}
#tableKitty > card{
  float: left;
  border-radius: 10px;
  margin-right: 10px;
  width: 120px;
  height: 180px;
  position: absolute;
}
#tableKitty1 {
  top:0px;
  left: 0px;
}
#tableKitty2 {
  top:0px;
  left:20px;
}
#tableKitty3 {
  top:0px;
  left:40px;
}

#card_1{
  top: 74px;
  left: 23px;
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
}
#card_2{
  /*display:none;*/
  top: 65px;
  left: 57px;
  -webkit-transform: rotate(-14deg);
  -moz-transform: rotate(-14deg);
  -o-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg);
}
#card_3{
  /*display:none;*/
  top: 57px;
  left: 91px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#card_4{
  /*display:none;*/
  top: 52px;
  left: 125px;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
#card_5{
  /*display:none;*/
  top: 50px;
  left: 160px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
#card_6{
  /*display:none;*/
  top: 50px;
  left: 195px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
#card_7{
  /*display:none;*/
  top: 52px;
  left: 230px;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
#card_8{
  /*display:none;*/
  top: 57px;
  left: 264px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
#card_9{
  /*display:none;*/
  top: 65px;
  left: 299px;
  -webkit-transform: rotate(14deg);
  -moz-transform: rotate(14deg);
  -o-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  transform: rotate(14deg);
}
#card_10{
  /*display:none;*/
  top: 74px;
  left: 332px;
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
#card_11{
  /*display:none;*/
  top: 0px;
  left: 180px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
#card_12{
  /*display:none;*/
  top: 1px;
  left: 215px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}
#card_13{
  /*display:none;*/
  top: 3px;
  left: 250px;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}
