@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  margin: 0;
  padding: 0;
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #BBB;
  line-height: 1;
  background: #222;
  font-style: normal;
  overflow: hidden;
  text-align: center;
}
input:focus{
  /*outline: none*/
}
i{
  width: 17px;
  height: 17px;
  display: inline-block;
}

.red{
  color: #F00;
}
.bigger{
  font-size: 130%;
}
.half-column-left{ float: left; width: 49%; text-align: left; padding-left:1% }
.half-column-right{ float: right; width: 49%; text-align: right; padding-right:1% }
.third-column-left{ float: left; width: 32%; text-align: left; padding-left:1% }
.third-column-right{ float: right; width: 32%; text-align: right; padding-right:1% }
.third-column-centre{ display: inline-block; width: 33%; text-align: center; }

#header{
  position: fixed;
  z-index:200;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 8px 0px;
  display: block;
  background: #333;
  color: #CCC;
  border-bottom: 1px solid #222;
}
#footer{
  position: fixed;
  z-index:200;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 8px 0px;
  display: block;
  background: #333;
  color: #CCC;
  border-top: 1px solid #222;
}
#footer input {
  background: #222;
  color: #CCC;
  padding: 4px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
}

#userList{
  position: fixed;
  z-index:101;
  top: 37px;
  left: 5px;
  background: #333;
  color: #BBB;
  padding: 8px 8px;
  display: none;
  opacity: 0.8;
  border-radius: 3px;
}
#lean_overlay {
  position: fixed;
  z-index:199;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
#loginmodal {
  width: 300px;
  padding: 8px 8px;
  background: #CCC;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #333;
  text-align: center;
}
#loginmodal input, .Hand input {
  background: #333;
  color: #CCC;
  padding: 8px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  margin: 8px 0px;
}
input:disabled {
  opacity: 0.5;
}
#loginmodal p {
  margin: 8px 0px;
}
